parameters:
	ignoreErrors:
	    -
	        message: '#.*NodeParentInterface|null.*#'
	        path: ./src/DependencyInjection
	    -
	        message: '#.*NodeDefinition::children.*#'
	        path: ./src/DependencyInjection
